/*
******
RESET
******
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
******
DEBUG
******
*/

.debug header,
.debug footer {
  background-color: aquamarine;
}

.debug main {
  background-color: red;
}
.debug .main-aside {
  background-color: green;
}
.debug .main-nav {
  background-color: blue;
  min-height: 200px;
}

/*
******
COMMON
******
*/

.layout {
  margin: 0 auto;
}

.layout.big {
  max-width: 1280px;
}

.layout.small {
  max-width: 900px;
}

/*
******
HEADER
******
*/

header {
  margin-bottom: 15px;
}

/*
******
MAIN
******
*/

.container {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

main {
  flex-grow: 1;
}

.main-aside {
  width: 150px;
  flex-shrink: 0;
}

.main-nav {
  width: 250px;
  flex-shrink: 0;
}

/*
******
FOOTER
******
*/

footer {
  margin-top: 15px;
}
