/*
******
RESET
******
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
******
DEBUG
******
*/

.debug header,
.debug footer {
  background-color: aquamarine;
}

.debug main {
  background-color: red;
}
.debug .main-aside {
  background-color: green;
}
.debug .main-nav {
  background-color: blue;
}

/*
******
COMMON
******
*/

/*
******
HEADER
******
*/

/*
******
MAIN
******
*/

/*
******
FOOTER
******
*/
